<section class="section bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0 text-center">Messages lists</h3>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">6 Messages </th>
                </tr>
              </thead>
              <tbody class="list">
                <tr>
                  <td scope="row">
                    <div class="media align-items-center">
                      <a href="#" class="avatar rounded-circle mr-3">
                        <%= image_tag 'theme/team-5.jpg', class: 'rounded-circle' %>
                      </a>
                      <div class="media-body">
                        <p class="name mb-0 text-sm text-primary"><strong>John snow</strong></p>
                        <p class="name mb-0 text-sm">dernier message</p>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="#" class="avatar rounded-circle mr-3">
                        <%= image_tag 'theme/team-1.jpg', class: 'rounded-circle' %>
                      </a>
                      <div class="media-body">
                        <p class="name mb-0 text-sm text-primary"><strong>Raisa Du Bois</strong></p>
                        <p class="name mb-0 text-sm">dernier message</p>
                      </div>
                    </div>
                  </th>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="#" class="avatar rounded-circle mr-3">
                        <%= image_tag 'theme/team-2.jpg', class: 'rounded-circle' %>
                      </a>
                      <div class="media-body">
                        <p class="name mb-0 text-sm text-primary"><strong>Mick Truc</strong></p>
                        <p class="name mb-0 text-sm">dernier message</p>
                      </div>
                    </div>
                  </th>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="#" class="avatar rounded-circle mr-3">
                        <%= image_tag 'theme/team-4.jpg', class: 'rounded-circle' %>
                      </a>
                      <div class="media-body">
                        <p class="name mb-0 text-sm text-primary"><strong>Patric Rize</strong></p>
                        <p class="name mb-0 text-sm">dernier message</p>
                      </div>
                    </div>
                  </th>
                </tr>
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="#" class="avatar rounded-circle mr-3">
                        <%= image_tag 'theme/team-4.jpg', class: 'rounded-circle' %>
                      </a>
                      <div class="media-body">
                        <p class="name mb-0 text-sm text-primary"><strong>Synthia Montagneux</strong></p>
                        <p class="name mb-0 text-sm">dernier message</p>
                      </div>
                    </div>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="container">
            <div class="card card-profile shadow ">
              <div class="px-4">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="javascript:;">
                    <%= image_tag 'theme/team-4.jpg', class: 'rounded-circle' %>
                  </a>
                </div>
              </div>
              <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                <div class="card-profile-actions py-4 mt-lg-0">
                  <a href="#" class="btn btn-sm btn-info mr-4">Rendez-vous</a>
                </div>
              </div>
              <div class="col-lg-4 order-lg-1">
                <div class="card-profile-stats d-flex justify-content-center">
                  <div>
                    <span class="heading">22</span>
                    <span class="description">Friends</span>
                  </div>
                  <div>
                    <span class="heading">10</span>
                    <span class="description">Photos</span>
                  </div>
                  <div>
                    <span class="heading">89</span>
                    <span class="description">Comments</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <h3>Jessica Jones<span class="font-weight-light">, 27</span></h3>
              <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>Bucharest, Romania</div>
              <div class="h6 mt-4"><i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer</div>
              <div><i class="ni education_hat mr-2"></i>University of Computer Science</div>
            </div>
            <div class="mt-5 py-5 border-top">
              <div class="row mb-4">
                <div class="col  py-2">
                    <% @messages.each do |message| %>
                      <% if message.content.present? %>
                          <div class="pl-2 mb-2 text-right " style="max-width:50%;">
                            <p class="bg-primary m-0 p-2  rounded text-light"><%= message.content %> </p>
                            <small class=" "><%= message.message_time %></small>
                          </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <div class="row">
                    <%= form_with(model: [@conversation, @message]) do |f| %>
                      <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
                    </div>
                    <div class="row">
                      <div class="field col-10">
                       <%= f.text_area :content, class: "form-control" %>
                       </div>
                     <%= f.submit("Send", class:"btn btn-primary col-2") %>
                    </div>
                  <% end %>
              </div>
              </div>
            </div>
        </div>
      </div>
    </div>
   </div>
</section>
