<div class="card">
  <div class="card-header border-0">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="mb-0">Bugs page</h3>
      </div>
      <div class="col text-right">
        <a href="#!" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#bug-form">submit bugs</a>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <!-- Projects table -->
    <table class="table align-items-center table-flush">
      <thead class="thead-light">
        <tr>
          <th scope="col">Bug title</th>
          <th scope="col">Statut</th>
          <th scope="col">Update</th>
          <th scope="col">user</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @bugs.each do |bug| %>
        <tr>
          <th scope="row">
            <%= bug.title %>
          </th>
          <td>
            <span class="badge badge-dot mr-4">
              <i class="<%= status_icon_class(bug.statut) %>"></i>
              <span class="status"><%= render_statut(bug.statut) %></span>
            </span>
          </td>
          <td>
            <span class="bug-date">
              <%= render_date (bug.updated_at) %>
            </span>
          </td>
          <td>
            <span class="bug-date">
            <%= bug.user.name %>
            </span>
          </td>
          <td>
            <a href="/bugs/<%= bug.id %>" class="btn btn-sm btn-primary">Details</a>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
