<!DOCTYPE html>
<html>
  <%= render 'shared/head' %>
  <body class="bg-default">
    <%= render 'components/logged_out/topnav' %>
    <div class="main-content">
      <%= render partial: 'authentication/header', locals: { title: yield(:title), subtitle: yield(:subtitle) } %>
      <%= yield %>
    </div>
    <%= render 'components/logged_out/footer' %>
    <script type="text/javascript" src="https://cdn.weglot.com/weglot.min.js"></script>
    <script>
        Weglot.initialize({
            api_key: 'wg_53500962577c5a0918a5aa933c7d27c03'
        });
    </script>

  </body>

</html>
